@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

html, body {
  height: 100%;
  width: 100%;
}

  /* Font styles */
  p {
    color: gray;
    font-family: Inter, Lato;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
    text-align: center;
  }

  h1 {
    color: black;
    font-weight: bold;
    font-family: Inter, Lato;
    padding-top: 20px;
    padding-bottom: 30px;
    margin: 0;
    text-align: center;
  }

  /* Container styles */
  .newsletter-form-container {
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0;
  }

  /* Form styles */
  .newsletter-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-bottom: 20px;
  }
  .newsletter-form input {
    font-family: Inter, sans-serif;
    color: #000;
    font-size: 14px;
    margin: 0 10px 0 0;
    width: 100%;
    max-width: 300px;
    min-width: 100px;
    background: #fff;
    border: 1px solid #d1d5db;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.05) 0 1px 2px;
    border-radius: 8px;
    padding: 8px 12px;
  }
  .newsletter-form button {
    font-family: Inter, sans-serif;
    font-size: 14px;
    color: #fff;
    display: flex;
    width: min-content;
    max-width: 300px;
    white-space: nowrap;
    height: 38px;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 9px 17px;
    box-shadow: rgba(0, 0, 0, 0.05) 0 1px 2px;
    border-radius: 8px;
    text-align: center;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    border: none;
    cursor: pointer;
  }
  .newsletter-form .newsletter-form-button {
    background: #6c63ff;
  }
  .newsletter-form .newsletter-loading-button {
    background: #E83F60;
    display: none;
  }

  /* Success/error message styles */
  .newsletter-success, .newsletter-error {
    align-items: center;
    justify-content: center;
    width: 100%;
    display: none;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .newsletter-success-message, .newsletter-error-message {
    font-family: Inter, sans-serif;
    font-size: 16px;
  }
  .newsletter-success-message {
    color: black;
  }
  .newsletter-error-message {
    color: red;
  }

  /* Back button styles */
  .newsletter-back-button {
    color: gray;
    font: 14px Inter, sans-serif;
    margin: 10px auto;
    text-align: center;
    display: none;
    background: transparent;
    border: none;
    cursor: pointer;
    padding-bottom: 20px;
  }
  .newsletter-back-button:hover {
    text-decoration: underline;
  }